@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin : 0;
    padding : 0;
    Box-Sizeing : border-box;
    font-family:'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
 background:url(bg.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.login-box{
    position: relation;
    width: 400px;
    height: 450px;
    background:transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
font-size: 2em;
color: aliceblue;
text-align: center;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
transition: .7s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -6px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1emn;
    color: #fff;
}

.input-box .icon {
position: absolute;
right: 8px;
color: #fff;
font-size: 1.2em;
line-height: 57px;
}

.remember-forgot {

    margin: -15px 0 15px;
    font-size: .9em;
    color:#fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgotlabel input {
    margin-right:3px;

}

.remember-forgot a {
    color: #fff;
    text-decoration: underline;
}

.remember-forgot a:hover {
    text-decoration: underline;

}

button {
    width: 100px;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor:pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.register-link {
    font-size: .9em;
    color: #fff;
    text-align: cenetr;
    margin: 25px 0 10px;
}
 .register-linkp a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
 }
  
 .register-linkp a:hover {
    text-decoration: underline;
 }